#calculator{
    border: 1px solid rgb(6, 5, 5);
    border-radius: 5px;
    width: 200px;
    transition-property: background-color;
     
   

}

#display{
    margin: 10px;
    width: 170px;
    font-size: 25px;
    display: flex;
      justify-content: center;
     
}
.button-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    
}
#js{
    color: rgb(220, 130, 12);
    font-style: italic;
}

.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}